[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
uuid = "*"
"ruamel.yaml" = "*"
genanki = "*"
requests = "*"
pillow = "*"
python-resize-image = "*"
azure-cognitiveservices-speech = "*"
langdetect = "*"
python-slugify = "*"

[requires]
python_version = "3.9"
